<!DOCTYPE html>
<html>
<head>
    <title>About</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/payment">Payment</a></li>
    </ul>
</nav>

<div class="hero">

    <h1>About Us</h1>

    <p>
        We conduct online mock tests and exams
        for students preparing for competitive exams.
    </p>

</div>

</body>
</html>