<div class="hero">

    <h1>Exam Registration</h1>

    <form method="POST" action="/register">

        <br>

        <input
        type="text"
        name="name"
        placeholder="Enter Name"
        required>

        <br><br>

        <input
        type="text"
        name="phone"
        placeholder="Phone Number"
        required>

        <br><br>

        <input
        type="text"
        name="telegram"
        placeholder="Telegram Username"
        required>

        <br><br>

        <button class="btn">
            Proceed To Payment
        </button>

    </form>

</div>